# Touchpad setup
xinput set-prop "GXTP7863:00 27C6:01E0 Touchpad" "libinput Natural Scrolling Enabled" 1
xinput set-prop "GXTP7863:00 27C6:01E0 Touchpad" "libinput Tapping Enabled" 1

# Keyboard layout setup
setxkbmap -layout us -variant altgr-intl -option nodeadkeys

